/* Scacchiera.css */
.chess-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin-top: 20px;
}

.status-messages h3 {
  margin: 5px 0;
  padding: 8px 15px;
  border-radius: 5px;
}

.alert-danger { background-color: #ff4d4d; color: white; animation: pulse 1.5s infinite; }
.alert-warning { background-color: #ffa500; color: white; }
.turn-indicator { background-color: #f0f0f0; border: 1px solid #ddd; }

.scacchiera-table {
  border: 5px solid #3d3d3d;
  border-radius: 4px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.cella {
  width: 70px;
  height: 70px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.chiara { background-color: #f0d9b5; }
.scura { background-color: #b58863; }

/* Stile per le mosse possibili */
.cella.evidenziata {
  background-color: rgba(255, 235, 59, 0.8) !important;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

/* Effetto al passaggio del mouse (hover) */
.cella:hover {
  filter: brightness(1.1);
}

.piece-img {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  transition: transform 0.1s;
}

.piece-img:active {
  transform: scale(1.2);
  cursor: grabbing;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}



.reset-btn {
  background-color: #4caf50; /* Verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.2s, transform 0.1s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.reset-btn:hover {
  background-color: #45a049;
}

.flip-btn:active {
  transform: scale(0.95);
}

.flip-btn {
  background-color: #1f568d; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.2s, transform 0.1s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.flip-btn:hover {
  background-color: #1f568c;
}

.flip-btn:active {
  transform: scale(0.95);
}